<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tankauswertung">

    <!-- Kamerazugriff -->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <!-- Lesen und schreiben von Fotos in den External Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tankauswertung">

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" ></meta-data>
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewCarActivity"
            android:label="Fahrzeug hinzufügen">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Einstellungen">
        </activity>

        <activity
            android:name=".NewStreckeActivity"
            android:label="Strecke hinzufügen">
        </activity>

        <activity
            android:name=".NewTankvorgangActivity"
            android:label="Tankvorgang hinzufügen">
        </activity>
    </application>

</manifest>